@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Cutive+Mono&display=swap');
.navigationDiv {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;
}
.navigationDivUpdated{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;
    background-color: #fbfbfd;
}
.initial_heading{
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    color: #D5DAF7;
    font-size: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.after_heading{
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    background-color: #eff2f8;
    color: #292B95;
    font-size: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.sections_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sig_pic_div{
    background-color: white;
}
.initial_heading:hover{
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    background-color: #eff2f8;
    color: #292B95;
    font-size: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;

}