@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
.aboutMe_Section{
width: 80%;
height: 80vh;
font-family: 'Special Elite', cursive;
font-size: 1.9vw;
color: white;
}
.school{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.schoolInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4vw;
}
#about{
    font-family: 'Zilla Slab', serif;
}