@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.certificates_Section{
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.certificates_Section h1{
    font-size: 4em;
    font-family: 'Special Elite', cursive;
    color:whitesmoke;
}
.allCert{
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.certs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.certificates_Section p{
    font-size: 1.6em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(75, 192, 192, 1);
}
.allCert img{
    width: 18em;
    height: auto;
}
.break {
    flex-basis: 100%;
    height: 0;
  }
@media screen and (max-width: 768px) {
    .allCert img{
        width: 8.5em;
    }
    .certificates_Section h1{
        font-size: 2em;
    }
    .certificates_Section p{
        font-size: 0.7em;
    }
    .allCert{
        flex-basis: 22%;
    }
    #rm{
        display: none;
    }
}