@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.interestSection{
    width: 80%;
    height: 80vh;
    font-family: 'Special Elite', cursive;
    color:whitesmoke;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#pics{
    width: 3em;
    flex-basis: 22%;
}
.interestSection h1{
    font-size: 4em;
}
@media screen and (max-width: 768px) {
#pics{
    width: 6em;
}
.interestSection h1{
    font-size: 3em;
}
}