@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
.projects_Section {
  width: 80%;
  height: 80vh;
  color:whitesmoke;
  font-family: 'Special Elite', cursive;
}
#heading{
  font-size: 4em;
}
.projectEq{
  float: left;
  font-family: 'Tinos', serif;
  font-size: 0.7em;
  margin-right: 2vw;
}
.allProjects{
  display: flex;
  flex-direction: column;
}
.easyLink{
  display: flex;
  width: 100%;
  height: 22vh;
  justify-content: center;
  align-items: center;
  font-family: 'Tinos', serif;
  font-size: 1.7vw;
}
.easyLink:hover{
  transform: scale(1.1);
}